<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/sbin:/usr/local/opt/openjdk/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/opt/X11/bin:/Library/Frameworks/Mono.framework/Versions/Current/Commands:/usr/local/sbin:/usr/local/opt/openjdk/bin:/Users/bala/.local/bin:/Users/bala/.local/bin</string>
	</dict>
	<key>Label</key>
	<string>com.bala.rta_booking</string>
	<key>WorkingDirectory</key>
	<string>/Users/bala/rta_booking_information/</string>
	<key>ProgramArguments</key>
	<array>
		<string>./get_all_locations.sh</string>
	</array>
	<key>StartInterval</key> 
	<integer>3600</integer> 
	<key>StandardOutPath</key>
	<string>/Users/bala/rta_booking_information/launchd.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/bala/rta_booking_information/launchd.error</string>
</dict>
</plist>
