#main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.sub-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
}

.sub-container-label{
	font-size: 17px;
	font-family: 'Roboto';
	color: #555;
  margin-top:2em;
  margin-bottom:10px;
}

.center-title {
  font-family: 'Roboto';
  font-size: small;
  font-weight: bold;
  text-align: center;
  padding: 10px 2px;
  padding-bottom: 0px;
}

.center-availability {
  font-family: 'Roboto';
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 10px 2px;
  color: #333;
}

.center-container {
  width: 7em;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #0000;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px #0003;
  min-height: 6em;
}

.center-container:hover {
  align-items: center;
  box-shadow: 0px 0px 5px 3px #0003;
}

#main-title {
  font-size: 1.2em;
  font-family: 'Roboto';
  text-align: center;
  margin-top: 20px;
}

#update-text {
  font-size: 0.8em;
  font-family: 'Roboto';
  text-align: center;
  margin: 5px 0px;
  margin-bottom: 10px;
}
