#main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.sub-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
}

.sub-container-label{
	font-size: 0.85em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", sans-serif;
	color: #555;
  margin-top:1.5em;
  margin-bottom:10px;
}

.center-title {
  font-family: 'Roboto';
  font-size: small;
  font-weight: bold;
  text-align: center;
  padding: 10px 2px;
  padding-bottom: 0px;
}

.center-availability {
  font-family: 'Roboto';
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 10px 2px;
  color: #333;
}

.center-container {
  width: 7em;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #0000;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px #0003;
  min-height: 6em;
}

.center-container:hover {
  align-items: center;
  box-shadow: 0px 0px 5px 3px #0003;
}

#main-title {
    font-size: 1.2em;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    margin: 1.5em 20px 0.75em 20px;
    color: #333333;
    font-weight: bold;
}

#update-text {
  font-size: 0.9em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  margin: 0em 55px;
}

#modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: 75%;
  min-width: 200px;
	max-height: 75%;
	background: #fff;
	transform: translate(-50%, -50%);
	align-items: center;
	padding: 20px;
	box-shadow: #00000029 0px 0 20px 20px;
	border-radius: 8px;
	overflow: scroll;
}

#modal-title {
	text-align: left;
	font-family: 'Roboto';
	line-height: 1.75;
	font-size: 17px;
	font-weight: bolder;
}

#modal-content {
	text-align: left;
	font-family: 'Roboto';
	line-height: 1.75;
}

#modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: 'Roboto';
	font-weight: bold;
	cursor: pointer;
}

#modal-background {
  display: none;
  width: 100%;
  height: 100%;
  background: #0001;
  backdrop-filter: blur(1px);
  position: fixed;
  left: 0;
  top: 0;
}

.disruption-red {
  color: red;
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  background: #eeeeee;
}
